In [869]:
# Import packages.
import pandas as pd 
import numpy as np 
import plotly.express as px

In [870]:
# Create DataFrame and use the 'usecols' function to select columns to be used.
Metro_Pop_2020_DF1 = pd.read_csv('Project_2_Data/US_Pop_2020_CSV.csv', usecols= ['CBSA', 'NAME', 'LSAD', 'DATE', 'POPESTIMATE', 'POPEST_MALE', 'POPEST_FEMALE', 'MEDIAN_AGE_TOTAL', 'MEDIAN_AGE_MALE', 'MEDIAN_AGE_FEMALE'])

In [871]:
Metro_Pop_2020_DF1.head(7)

,CBSA,NAME,LSAD,DATE,POPESTIMATE,POPEST_MALE,POPEST_FEMALE,MEDIAN_AGE_TOTAL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE
0,10180,"Abilene, TX",Metropolitan Statistical Area,1,176579,89269,87310,34.1,33.2,35.2
1,10180,"Abilene, TX",Metropolitan Statistical Area,2,176809,89408,87401,34.2,33.2,35.2
2,10180,"Abilene, TX",Metropolitan Statistical Area,3,177314,89671,87643,34.3,33.5,35.3
3,10420,"Akron, OH",Metropolitan Statistical Area,1,702219,343286,358933,40.6,39.5,41.7
4,10420,"Akron, OH",Metropolitan Statistical Area,2,701305,342719,358586,40.6,39.6,41.7
5,10420,"Akron, OH",Metropolitan Statistical Area,3,700015,341789,358226,40.7,39.7,41.8
6,10500,"Albany, GA",Metropolitan Statistical Area,1,148922,70804,78118,37.5,35.9,38.9

In [872]:
Shape_Of_Master_MetPop_2020 = Metro_Pop_2020_DF1.shape
print(Shape_Of_Master_MetPop_2020)
Data_Types_Of_Master_MetPop_2020 = Metro_Pop_2020_DF1.dtypes
print(Data_Types_Of_Master_MetPop_2020)

(2781, 10)
CBSA                   int64
NAME                  object
LSAD                  object
DATE                   int64
POPESTIMATE            int64
POPEST_MALE            int64
POPEST_FEMALE          int64
MEDIAN_AGE_TOTAL     float64
MEDIAN_AGE_MALE      float64
MEDIAN_AGE_FEMALE    float64
dtype: object

In [873]:
# Use the 'rename' function to modify column names. 
Metro_Pop_2020_DF1.rename(columns={'NAME': 'City_Metro', 'POPESTIMATE': 'Estimated_Population', 'POPESTIMATE': 'Population', 'DATE': 'Date', 'POPEST_MALE': 'Male_Population', 'POPEST_FEMALE': 'Female_Population', 'MEDIAN_AGE_TOTAL': 'Median_Age_Total', 'MEDIAN_AGE_MALE': 'Median_Age_Male', 'MEDIAN_AGE_FEMALE': 'Median_Age_Female'}, inplace= True)

In [874]:
Metro_Pop_2020_DF1.head()

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
0,10180,"Abilene, TX",Metropolitan Statistical Area,1,176579,89269,87310,34.1,33.2,35.2
1,10180,"Abilene, TX",Metropolitan Statistical Area,2,176809,89408,87401,34.2,33.2,35.2
2,10180,"Abilene, TX",Metropolitan Statistical Area,3,177314,89671,87643,34.3,33.5,35.3
3,10420,"Akron, OH",Metropolitan Statistical Area,1,702219,343286,358933,40.6,39.5,41.7
4,10420,"Akron, OH",Metropolitan Statistical Area,2,701305,342719,358586,40.6,39.6,41.7

In [875]:
# Create new DataFrame and select specific portions of 'City/Metro' column using iloc. 
DF1_MetPop2020 = Metro_Pop_2020_DF1.iloc[[51, 126, 147, 204, 210, 258, 285, 291, 477, 489, 540, 591, 630, 633, 669, 675, 687, 690, 735, 744, 747, 780, 807, 810, 828, 927, 930, 933, 960, 1095]]

In [876]:
# Visualizing and understanding data.
Shape_of_MetPop2020 = DF1_MetPop2020.shape
print(Shape_of_MetPop2020)
Data_Types_of_MetPop2020 = DF1_MetPop2020.dtypes
print(Data_Types_of_MetPop2020)

(30, 10)
CBSA                   int64
City_Metro            object
LSAD                  object
Date                   int64
Population             int64
Male_Population        int64
Female_Population      int64
Median_Age_Total     float64
Median_Age_Male      float64
Median_Age_Female    float64
dtype: object

In [877]:
DF1_MetPop2020.head()

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
51,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9
126,14460,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,1,4941632,2418046,2523586,38.8,37.8,39.9
147,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3
204,16980,"Chicago-Naperville-Elgin, IL-IN-WI",Metropolitan Statistical Area,1,9618502,4739937,4878565,38.1,37.1,39.1
210,17140,"Cincinnati, OH-KY-IN",Metropolitan Statistical Area,1,2256884,1114630,1142254,38.1,37.1,39.1

In [878]:
px.histogram(DF1_MetPop2020, x='City_Metro', y='Population', nbins= 7, title='Metro Population 2020')

In [879]:
East_Coast_Metro_2020 = DF1_MetPop2020.iloc[[1, 2, 15, 20, 21, 22, 29]]

In [880]:
East_Coast_Metro_2020

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
126,14460,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,1,4941632,2418046,2523586,38.8,37.8,39.9
147,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3
675,33100,"Miami-Fort Lauderdale-Pompano Beach, FL",Metropolitan Statistical Area,1,6138333,3005123,3133210,41.6,40.3,42.9
747,35620,"New York-Newark-Jersey City, NY-NJ-PA",Metropolitan Statistical Area,1,20140470,9811780,10328690,39.0,37.8,40.3
780,36740,"Orlando-Kissimmee-Sanford, FL",Metropolitan Statistical Area,1,2673376,1314143,1359233,37.9,37.0,38.8
807,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area,1,6245051,3040403,3204648,39.0,37.7,40.3
1095,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,6385162,3141717,3243445,37.6,36.8,38.3

In [881]:
East_Coast_Metro_2020['Population'].sum()

47690926

In [882]:
Midwest_MetPop_2020 = DF1_MetPop2020.iloc[[3, 4, 6, 7, 9, 10, 13, 16, 17]]

In [883]:
Midwest_MetPop_2020

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
204,16980,"Chicago-Naperville-Elgin, IL-IN-WI",Metropolitan Statistical Area,1,9618502,4739937,4878565,38.1,37.1,39.1
210,17140,"Cincinnati, OH-KY-IN",Metropolitan Statistical Area,1,2256884,1114630,1142254,38.1,37.1,39.1
285,19740,"Denver-Aurora-Lakewood, CO",Metropolitan Statistical Area,1,2963821,1492321,1471500,36.9,36.4,37.5
291,19820,"Detroit-Warren-Dearborn, MI",Metropolitan Statistical Area,1,4392041,2153747,2238294,40.1,38.7,41.4
489,26900,"Indianapolis-Carmel-Anderson, IN",Metropolitan Statistical Area,1,2111040,1038774,1072266,36.7,35.8,37.6
540,28140,"Kansas City, MO-KS",Metropolitan Statistical Area,1,2192035,1082767,1109268,37.7,36.8,38.6
633,31140,"Louisville/Jefferson County, KY-IN",Metropolitan Statistical Area,1,1285439,631705,653734,39.2,38.1,40.3
687,33340,"Milwaukee-Waukesha, WI",Metropolitan Statistical Area,1,1574731,772689,802042,38.3,37.4,39.2
690,33460,"Minneapolis-St. Paul-Bloomington, MN-WI",Metropolitan Statistical Area,1,3690261,1841756,1848505,37.5,36.9,38.2

In [884]:
Midwest_MetPop_2020['Population'].sum()

30084754

In [885]:
South_MetPop_2020 = DF1_MetPop2020.iloc[[0, 5, 8, 14, 18, 19, 25]]

In [886]:
South_MetPop_2020

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
51,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9
258,19100,"Dallas-Fort Worth-Arlington, TX",Metropolitan Statistical Area,1,7637387,3779275,3858112,35.3,34.6,35.9
477,26420,"Houston-The Woodlands-Sugar Land, TX",Metropolitan Statistical Area,1,7122240,3548196,3574044,35.0,34.4,35.5
669,32820,"Memphis, TN-MS-AR",Metropolitan Statistical Area,1,1337779,641509,696270,36.6,35.2,37.9
735,34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",Metropolitan Statistical Area,1,1989519,975573,1013946,36.8,36.0,37.4
744,35380,"New Orleans-Metairie, LA",Metropolitan Statistical Area,1,1271845,616081,655764,39.0,38.1,39.9
927,41700,"San Antonio-New Braunfels, TX",Metropolitan Statistical Area,1,2558143,1272145,1285998,35.3,34.4,36.3

In [887]:
South_MetPop_2020['Population'].sum()

28006728

In [888]:
West_Coast_MetPop_2020 = DF1_MetPop2020.iloc[[11, 12, 23, 24, 26, 27, 28]]

In [889]:
West_Coast_MetPop_2020

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
591,29820,"Las Vegas-Henderson-Paradise, NV",Metropolitan Statistical Area,1,2265461,1134726,1130735,37.8,37.3,38.3
630,31080,"Los Angeles-Long Beach-Anaheim, CA",Metropolitan Statistical Area,1,13200998,6546539,6654459,37.6,36.7,38.6
810,38060,"Phoenix-Mesa-Chandler, AZ",Metropolitan Statistical Area,1,4845832,2418925,2426907,37.3,36.4,38.3
828,38900,"Portland-Vancouver-Hillsboro, OR-WA",Metropolitan Statistical Area,1,2512859,1251332,1261527,38.7,38.0,39.3
930,41740,"San Diego-Chula Vista-Carlsbad, CA",Metropolitan Statistical Area,1,3298634,1671043,1627591,36.5,35.5,37.7
933,41860,"San Francisco-Oakland-Berkeley, CA",Metropolitan Statistical Area,1,4749008,2365423,2383585,39.3,38.6,40.1
960,42660,"Seattle-Tacoma-Bellevue, WA",Metropolitan Statistical Area,1,4018762,2029293,1989469,37.2,36.5,37.9

In [890]:
West_Coast_MetPop_2020['Population'].sum()

34891554

In [891]:
Metro_Pop_2000_DF2 = pd.read_csv('Project_2_Data/US_Pop_2000_CSV.csv', usecols= ['CBSA Code', 'Geographic area', 'Population', 'Unnamed: 4'])

In [892]:
Metro_Pop_2000_DF2.head()

   CBSA Code              Geographic area Population Unnamed: 4
0      10420                    Akron, OH    703,200    694,960
1      10500                   Albany, GA    157,308    157,833
2      10580  Albany-Schenectady-Troy, NY    870,716    825,875
3      10740              Albuquerque, NM    887,077    729,649
4      10780               Alexandria, LA    153,922    145,035

In [893]:
Metro_Pop_2000_DF2.rename(columns={'CBSA Code': 'CBSA', 'Geographic area': 'City_Metro', 'Population': 'Population_2010', 'Unnamed: 4': 'Population_2000'}, inplace= True)

In [894]:
Metro_Pop_2000_DF2.head()

    CBSA                   City_Metro Population_2010 Population_2000
0  10420                    Akron, OH         703,200         694,960
1  10500                   Albany, GA         157,308         157,833
2  10580  Albany-Schenectady-Troy, NY         870,716         825,875
3  10740              Albuquerque, NM         887,077         729,649
4  10780               Alexandria, LA         153,922         145,035

In [895]:
Shape_Metro_Pop_2000 = Metro_Pop_2000_DF2.shape
print(Shape_Metro_Pop_2000)
DataType_Metro_Pop_2000 = Metro_Pop_2000_DF2.dtypes
print(DataType_Metro_Pop_2000)

(941, 4)
CBSA                int64
City_Metro         object
Population_2010    object
Population_2000    object
dtype: object

In [896]:
# Remove comma from columns and convert from object to float64.
Metro_Pop_2000_DF2['Population_2000'] = pd.to_numeric(Metro_Pop_2000_DF2['Population_2000'].replace({',': ''}, regex= True)) 
Metro_Pop_2000_DF2['Population_2010'] = pd.to_numeric(Metro_Pop_2000_DF2['Population_2010'].replace({',': ''}, regex= True))

In [897]:
Metro_Pop_2000_DF2.head()

    CBSA                   City_Metro  Population_2010  Population_2000
0  10420                    Akron, OH           703200           694960
1  10500                   Albany, GA           157308           157833
2  10580  Albany-Schenectady-Troy, NY           870716           825875
3  10740              Albuquerque, NM           887077           729649
4  10780               Alexandria, LA           153922           145035

In [898]:
#Flt_DataChng = Metro_Pop_2000_DF2['CBSA'] = Metro_Pop_2000_DF2['CBSA'].astype('string')

In [899]:
Shape_Metro_Pop_2000 = Metro_Pop_2000_DF2.shape
print(Shape_Metro_Pop_2000)
DataType_Metro_Pop_2000 = Metro_Pop_2000_DF2.dtypes
print(DataType_Metro_Pop_2000)

(941, 4)
CBSA                int64
City_Metro         object
Population_2010     int64
Population_2000     int64
dtype: object

In [900]:
pd.to_numeric(Metro_Pop_2000_DF2['CBSA'].astype('float64'))

0      10420.0
1      10500.0
2      10580.0
3      10740.0
4      10780.0
        ...
936    49300.0
937    49380.0
938    49460.0
939    49540.0
940    49780.0
Name: CBSA, Length: 941, dtype: float64

In [901]:
DF2_Metro_Pop2000 = Metro_Pop_2000_DF2.iloc[[17, 40, 47, 63, 65, 81, 90, 92, 148, 152, 168, 185, 198, 199, 211, 213, 216, 217, 232, 234, 235, 246, 257, 258, 264, 297, 298, 300, 309, 348]]

In [902]:
DF2_Metro_Pop2000

,CBSA,City_Metro,Population_2010,Population_2000
17,12060,"Atlanta-Sandy Springs-Marietta, GA",5268860,4247981
40,14460,"Boston-Cambridge-Quincy, MA-NH",4552402,4391344
47,15380,"Buffalo-Niagara Falls, NY",1135509,1170111
63,16980,"Chicago-Joliet-Naperville, IL-IN-WI",9461105,9098316
65,17140,"Cincinnati-Middletown, OH-KY-IN",2130151,2009632
81,19100,"Dallas-Fort Worth-Arlington, TX",6371773,5161544
90,19740,"Denver-Aurora-Broomfield, CO",2543482,2179240
92,19820,"Detroit-Warren-Livonia, MI",4296250,4452557
148,26420,"Houston-Sugar Land-Baytown, TX",5946800,4715407
152,26900,"Indianapolis-Carmel, IN",1756241,1525104
168,28140,"Kansas City, MO-KS",2035334,1836038
185,29820,"Las Vegas-Paradise, NV",1951269,1375765
198,31080,"Los Angeles-Long Beach-Santa Ana, CA",12828837,12365627
199,31140,"Louisville/Jefferson County, KY-IN",1283566,1161975
211,32820,"Memphis, TN-MS-AR",1316100,1205204
213,33100,"Miami-Fort Lauderdale-Pompano Beach, FL",5564635,5007564
216,33340,"Milwaukee-Waukesha-West Allis, WI",1555908,1500741
217,33460,"Minneapolis-St. Paul-Bloomington, MN-WI",3279833,2968806
232,34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",1589934,1311789
234,35380,"New Orleans-Metairie-Kenner, LA",1167764,1316510
235,35620,"New York-Northern New Jersey-Long Island, NY-N...",18897109,18323002
246,36740,"Orlando-Kissimmee-Sanford, FL",2134411,1644561
257,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",5965343,5687147
258,38060,"Phoenix-Mesa-Glendale, AZ",4192887,3251876
264,38900,"Portland-Vancouver-Hillsboro, OR-WA",2226009,1927881
297,41700,"San Antonio-New Braunfels, TX",2142508,1711703
298,41740,"San Diego-Carlsbad-San Marcos, CA",3095313,2813833
300,41860,"San Francisco-Oakland-Fremont, CA",4335391,4123740
309,42660,"Seattle-Tacoma-Bellevue, WA",3439809,3043878
348,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",5582170,4796183

In [903]:
Merged_Data = pd.merge(DF1_MetPop2020, DF2_Metro_Pop2000, on=['CBSA'], how='outer')

In [904]:
Merged_Data

,CBSA,City_Metro_x,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female,City_Metro_y,Population_2010,Population_2000
0,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9,"Atlanta-Sandy Springs-Marietta, GA",5268860,4247981
1,14460,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,1,4941632,2418046,2523586,38.8,37.8,39.9,"Boston-Cambridge-Quincy, MA-NH",4552402,4391344
2,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3,"Buffalo-Niagara Falls, NY",1135509,1170111
3,16980,"Chicago-Naperville-Elgin, IL-IN-WI",Metropolitan Statistical Area,1,9618502,4739937,4878565,38.1,37.1,39.1,"Chicago-Joliet-Naperville, IL-IN-WI",9461105,9098316
4,17140,"Cincinnati, OH-KY-IN",Metropolitan Statistical Area,1,2256884,1114630,1142254,38.1,37.1,39.1,"Cincinnati-Middletown, OH-KY-IN",2130151,2009632
5,19100,"Dallas-Fort Worth-Arlington, TX",Metropolitan Statistical Area,1,7637387,3779275,3858112,35.3,34.6,35.9,"Dallas-Fort Worth-Arlington, TX",6371773,5161544
6,19740,"Denver-Aurora-Lakewood, CO",Metropolitan Statistical Area,1,2963821,1492321,1471500,36.9,36.4,37.5,"Denver-Aurora-Broomfield, CO",2543482,2179240
7,19820,"Detroit-Warren-Dearborn, MI",Metropolitan Statistical Area,1,4392041,2153747,2238294,40.1,38.7,41.4,"Detroit-Warren-Livonia, MI",4296250,4452557
8,26420,"Houston-The Woodlands-Sugar Land, TX",Metropolitan Statistical Area,1,7122240,3548196,3574044,35.0,34.4,35.5,"Houston-Sugar Land-Baytown, TX",5946800,4715407
9,26900,"Indianapolis-Carmel-Anderson, IN",Metropolitan Statistical Area,1,2111040,1038774,1072266,36.7,35.8,37.6,"Indianapolis-Carmel, IN",1756241,1525104
10,28140,"Kansas City, MO-KS",Metropolitan Statistical Area,1,2192035,1082767,1109268,37.7,36.8,38.6,"Kansas City, MO-KS",2035334,1836038
11,29820,"Las Vegas-Henderson-Paradise, NV",Metropolitan Statistical Area,1,2265461,1134726,1130735,37.8,37.3,38.3,"Las Vegas-Paradise, NV",1951269,1375765
12,31080,"Los Angeles-Long Beach-Anaheim, CA",Metropolitan Statistical Area,1,13200998,6546539,6654459,37.6,36.7,38.6,"Los Angeles-Long Beach-Santa Ana, CA",12828837,12365627
13,31140,"Louisville/Jefferson County, KY-IN",Metropolitan Statistical Area,1,1285439,631705,653734,39.2,38.1,40.3,"Louisville/Jefferson County, KY-IN",1283566,1161975
14,32820,"Memphis, TN-MS-AR",Metropolitan Statistical Area,1,1337779,641509,696270,36.6,35.2,37.9,"Memphis, TN-MS-AR",1316100,1205204
15,33100,"Miami-Fort Lauderdale-Pompano Beach, FL",Metropolitan Statistical Area,1,6138333,3005123,3133210,41.6,40.3,42.9,"Miami-Fort Lauderdale-Pompano Beach, FL",5564635,5007564
16,33340,"Milwaukee-Waukesha, WI",Metropolitan Statistical Area,1,1574731,772689,802042,38.3,37.4,39.2,"Milwaukee-Waukesha-West Allis, WI",1555908,1500741
17,33460,"Minneapolis-St. Paul-Bloomington, MN-WI",Metropolitan Statistical Area,1,3690261,1841756,1848505,37.5,36.9,38.2,"Minneapolis-St. Paul-Bloomington, MN-WI",3279833,2968806
18,34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",Metropolitan Statistical Area,1,1989519,975573,1013946,36.8,36.0,37.4,"Nashville-Davidson--Murfreesboro--Franklin, TN",1589934,1311789
19,35380,"New Orleans-Metairie, LA",Metropolitan Statistical Area,1,1271845,616081,655764,39.0,38.1,39.9,"New Orleans-Metairie-Kenner, LA",1167764,1316510
20,35620,"New York-Newark-Jersey City, NY-NJ-PA",Metropolitan Statistical Area,1,20140470,9811780,10328690,39.0,37.8,40.3,"New York-Northern New Jersey-Long Island, NY-N...",18897109,18323002
21,36740,"Orlando-Kissimmee-Sanford, FL",Metropolitan Statistical Area,1,2673376,1314143,1359233,37.9,37.0,38.8,"Orlando-Kissimmee-Sanford, FL",2134411,1644561
22,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area,1,6245051,3040403,3204648,39.0,37.7,40.3,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",5965343,5687147
23,38060,"Phoenix-Mesa-Chandler, AZ",Metropolitan Statistical Area,1,4845832,2418925,2426907,37.3,36.4,38.3,"Phoenix-Mesa-Glendale, AZ",4192887,3251876
24,38900,"Portland-Vancouver-Hillsboro, OR-WA",Metropolitan Statistical Area,1,2512859,1251332,1261527,38.7,38.0,39.3,"Portland-Vancouver-Hillsboro, OR-WA",2226009,1927881
25,41700,"San Antonio-New Braunfels, TX",Metropolitan Statistical Area,1,2558143,1272145,1285998,35.3,34.4,36.3,"San Antonio-New Braunfels, TX",2142508,1711703
26,41740,"San Diego-Chula Vista-Carlsbad, CA",Metropolitan Statistical Area,1,3298634,1671043,1627591,36.5,35.5,37.7,"San Diego-Carlsbad-San Marcos, CA",3095313,2813833
27,41860,"San Francisco-Oakland-Berkeley, CA",Metropolitan Statistical Area,1,4749008,2365423,2383585,39.3,38.6,40.1,"San Francisco-Oakland-Fremont, CA",4335391,4123740
28,42660,"Seattle-Tacoma-Bellevue, WA",Metropolitan Statistical Area,1,4018762,2029293,1989469,37.2,36.5,37.9,"Seattle-Tacoma-Bellevue, WA",3439809,3043878
29,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,6385162,3141717,3243445,37.6,36.8,38.3,"Washington-Arlington-Alexandria, DC-VA-MD-WV",5582170,4796183