In [1194]:
# Import packages.
import pandas as pd 
import numpy as np 
import plotly.express as px

In [1195]:
# Create DataFrame and use the 'usecols' function to select desired columns.
Metro_Pop_2020_DF1 = pd.read_csv('Project_2_Data/US_Pop_2020_CSV.csv', usecols= ['CBSA', 'NAME', 'LSAD', 'DATE', 'POPESTIMATE', 'POPEST_MALE', 'POPEST_FEMALE', 'MEDIAN_AGE_TOTAL', 'MEDIAN_AGE_MALE', 'MEDIAN_AGE_FEMALE'])

In [1196]:
Metro_Pop_2020_DF1.head()

,CBSA,NAME,LSAD,DATE,POPESTIMATE,POPEST_MALE,POPEST_FEMALE,MEDIAN_AGE_TOTAL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE
0,10180,"Abilene, TX",Metropolitan Statistical Area,1,176579,89269,87310,34.1,33.2,35.2
1,10180,"Abilene, TX",Metropolitan Statistical Area,2,176809,89408,87401,34.2,33.2,35.2
2,10180,"Abilene, TX",Metropolitan Statistical Area,3,177314,89671,87643,34.3,33.5,35.3
3,10420,"Akron, OH",Metropolitan Statistical Area,1,702219,343286,358933,40.6,39.5,41.7
4,10420,"Akron, OH",Metropolitan Statistical Area,2,701305,342719,358586,40.6,39.6,41.7

In [1197]:
Shape_Of_Master_MetPop_2020 = Metro_Pop_2020_DF1.shape
print(Shape_Of_Master_MetPop_2020)
Data_Types_Of_Master_MetPop_2020 = Metro_Pop_2020_DF1.dtypes
print(Data_Types_Of_Master_MetPop_2020)

(2781, 10)
CBSA                   int64
NAME                  object
LSAD                  object
DATE                   int64
POPESTIMATE            int64
POPEST_MALE            int64
POPEST_FEMALE          int64
MEDIAN_AGE_TOTAL     float64
MEDIAN_AGE_MALE      float64
MEDIAN_AGE_FEMALE    float64
dtype: object

In [1198]:
# Use the 'rename' function to modify column names. 
Metro_Pop_2020_DF1.rename(columns={'NAME': 'City_Metro', 'POPESTIMATE': 'Estimated_Population', 'POPESTIMATE': 'Population', 'DATE': 'Date', 'POPEST_MALE': 'Male_Population', 'POPEST_FEMALE': 'Female_Population', 'MEDIAN_AGE_TOTAL': 'Median_Age_Total', 'MEDIAN_AGE_MALE': 'Median_Age_Male', 'MEDIAN_AGE_FEMALE': 'Median_Age_Female'}, inplace= True)

In [1199]:
Metro_Pop_2020_DF1.head()

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
0,10180,"Abilene, TX",Metropolitan Statistical Area,1,176579,89269,87310,34.1,33.2,35.2
1,10180,"Abilene, TX",Metropolitan Statistical Area,2,176809,89408,87401,34.2,33.2,35.2
2,10180,"Abilene, TX",Metropolitan Statistical Area,3,177314,89671,87643,34.3,33.5,35.3
3,10420,"Akron, OH",Metropolitan Statistical Area,1,702219,343286,358933,40.6,39.5,41.7
4,10420,"Akron, OH",Metropolitan Statistical Area,2,701305,342719,358586,40.6,39.6,41.7

In [1200]:
# Create new DataFrame and select specific portions of 'City/Metro' column using iloc. 
DF1_MetPop2020 = Metro_Pop_2020_DF1.iloc[[51, 126, 147, 204, 210, 258, 285, 291, 477, 489, 540, 591, 630, 633, 669, 675, 687, 690, 735, 744, 747, 780, 807, 810, 828, 927, 930, 933, 960, 1095]]

In [1201]:
# Visualizing and understanding data.
Shape_of_MetPop2020 = DF1_MetPop2020.shape
print(Shape_of_MetPop2020)
Data_Types_of_MetPop2020 = DF1_MetPop2020.dtypes
print(Data_Types_of_MetPop2020)

(30, 10)
CBSA                   int64
City_Metro            object
LSAD                  object
Date                   int64
Population             int64
Male_Population        int64
Female_Population      int64
Median_Age_Total     float64
Median_Age_Male      float64
Median_Age_Female    float64
dtype: object

In [1202]:
DF1_MetPop2020.head()

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
51,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9
126,14460,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,1,4941632,2418046,2523586,38.8,37.8,39.9
147,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3
204,16980,"Chicago-Naperville-Elgin, IL-IN-WI",Metropolitan Statistical Area,1,9618502,4739937,4878565,38.1,37.1,39.1
210,17140,"Cincinnati, OH-KY-IN",Metropolitan Statistical Area,1,2256884,1114630,1142254,38.1,37.1,39.1

In [1203]:
# Load new DataFrame.
Metro_Pop_2000_DF2 = pd.read_csv('Project_2_Data/US_Pop_2000_CSV.csv', usecols= ['CBSA Code', 'Geographic area', 'Population', 'Unnamed: 4'])  
Metro_Pop_2000_DF2.head()

   CBSA Code              Geographic area Population Unnamed: 4
0      10420                    Akron, OH    703,200    694,960
1      10500                   Albany, GA    157,308    157,833
2      10580  Albany-Schenectady-Troy, NY    870,716    825,875
3      10740              Albuquerque, NM    887,077    729,649
4      10780               Alexandria, LA    153,922    145,035

In [1204]:
Metro_Pop_2000_DF2.rename(columns={'CBSA Code': 'CBSA', 'Geographic area': 'City_Metro', 'Population': 'Population_2010', 'Unnamed: 4': 'Population_2000'}, inplace= True)
Metro_Pop_2000_DF2.head()

    CBSA                   City_Metro Population_2010 Population_2000
0  10420                    Akron, OH         703,200         694,960
1  10500                   Albany, GA         157,308         157,833
2  10580  Albany-Schenectady-Troy, NY         870,716         825,875
3  10740              Albuquerque, NM         887,077         729,649
4  10780               Alexandria, LA         153,922         145,035

In [1205]:
Shape_Metro_Pop_2000 = Metro_Pop_2000_DF2.shape
print(Shape_Metro_Pop_2000) 
DataType_Metro_Pop_2000 = Metro_Pop_2000_DF2.dtypes
print(DataType_Metro_Pop_2000)

(941, 4)
CBSA                int64
City_Metro         object
Population_2010    object
Population_2000    object
dtype: object

In [1206]:
# Remove comma from columns and convert from object to float64.
Metro_Pop_2000_DF2['Population_2000'] = pd.to_numeric(Metro_Pop_2000_DF2['Population_2000'].replace({',': ''}, regex= True)) 
Metro_Pop_2000_DF2['Population_2010'] = pd.to_numeric(Metro_Pop_2000_DF2['Population_2010'].replace({',': ''}, regex= True))

In [1207]:
Metro_Pop_2000_DF2.head()

    CBSA                   City_Metro  Population_2010  Population_2000
0  10420                    Akron, OH           703200           694960
1  10500                   Albany, GA           157308           157833
2  10580  Albany-Schenectady-Troy, NY           870716           825875
3  10740              Albuquerque, NM           887077           729649
4  10780               Alexandria, LA           153922           145035

In [1208]:
Shape_Metro_Pop_2000 = Metro_Pop_2000_DF2.shape
print(Shape_Metro_Pop_2000)
DataType_Metro_Pop_2000 = Metro_Pop_2000_DF2.dtypes
print(DataType_Metro_Pop_2000)

(941, 4)
CBSA                int64
City_Metro         object
Population_2010     int64
Population_2000     int64
dtype: object

In [1209]:
#pd.to_numeric(Metro_Pop_2000_DF2['CBSA'].astype('float64'))

In [1210]:
# Create a new DataFrame using 'iloc'.
DF2_Metro_Pop2000 = Metro_Pop_2000_DF2.iloc[[17, 40, 47, 63, 65, 81, 90, 92, 148, 152, 168, 185, 198, 199, 211, 213, 216, 217, 232, 234, 235, 246, 257, 258, 264, 297, 298, 300, 309, 348]]
DF2_Metro_Pop2000.head()

,CBSA,City_Metro,Population_2010,Population_2000
17,12060,"Atlanta-Sandy Springs-Marietta, GA",5268860,4247981
40,14460,"Boston-Cambridge-Quincy, MA-NH",4552402,4391344
47,15380,"Buffalo-Niagara Falls, NY",1135509,1170111
63,16980,"Chicago-Joliet-Naperville, IL-IN-WI",9461105,9098316
65,17140,"Cincinnati-Middletown, OH-KY-IN",2130151,2009632

In [1211]:
MetroPop2000_Shape = DF2_Metro_Pop2000.shape
print(MetroPop2000_Shape)
MetroPop2000_Dtypes = DF2_Metro_Pop2000.dtypes
print(MetroPop2000_Dtypes)

(30, 4)
CBSA                int64
City_Metro         object
Population_2010     int64
Population_2000     int64
dtype: object

In [1238]:
# Load GDP DataFrame.
GDP_Metro_DF3 = pd.read_csv('Project_2_Data/Metro GDP 2021 CSV.csv')
GDP_Metro_DF3.head(10)

,GeoFips,GeoName,LineCode,Description,2021,Unnamed: 5
0,10180,"Abilene, TX (Metropolitan Statistical Area)",2,Chain-type quantity indexes for real GDP,1.175150e+02,NaN
1,10180,"Abilene, TX (Metropolitan Statistical Area)",3,Current-dollar GDP (thousands of current dollars),8.848793e+06,NaN
2,10420,"Akron, OH (Metropolitan Statistical Area)",1,Real GDP (thousands of chained 2012 dollars),3.404113e+07,NaN
3,10420,"Akron, OH (Metropolitan Statistical Area)",2,Chain-type quantity indexes for real GDP,1.099950e+02,NaN
4,10420,"Akron, OH (Metropolitan Statistical Area)",3,Current-dollar GDP (thousands of current dollars),4.105888e+07,NaN
5,10500,"Albany, GA (Metropolitan Statistical Area)",1,Real GDP (thousands of chained 2012 dollars),5.210366e+06,NaN
6,10500,"Albany, GA (Metropolitan Statistical Area)",2,Chain-type quantity indexes for real GDP,9.945300e+01,NaN
7,10500,"Albany, GA (Metropolitan Statistical Area)",3,Current-dollar GDP (thousands of current dollars),6.462473e+06,NaN
8,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",1,Real GDP (thousands of chained 2012 dollars),4.523198e+06,NaN
9,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",2,Chain-type quantity indexes for real GDP,1.232560e+02,NaN

In [1239]:
GDP_Metro_Shape = GDP_Metro_DF3.shape
print(GDP_Metro_Shape)
GDP_Metro_Dtypes = GDP_Metro_DF3.dtypes
print(GDP_Metro_Dtypes)

(1151, 6)
GeoFips          int64
GeoName         object
LineCode         int64
Description     object
2021           float64
Unnamed: 5     float64
dtype: object

In [1213]:
px.histogram(DF2_Metro_Pop2000, x='City_Metro', y='Population_2000', nbins= 7, title='Metro Population 2000')

In [1214]:
px.histogram(DF2_Metro_Pop2000, x='City_Metro', y='Population_2010', nbins= 7, title='Metro Population 2010')

In [1215]:
px.histogram(DF1_MetPop2020, x='City_Metro', y='Population', nbins= 7, title='Metro Population 2020')

In [1216]:
# Which metro areas have a population over 10 million?
HighestPop = DF1_MetPop2020[DF1_MetPop2020['Population'] > 10000000]
HighestPop

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
630,31080,"Los Angeles-Long Beach-Anaheim, CA",Metropolitan Statistical Area,1,13200998,6546539,6654459,37.6,36.7,38.6
747,35620,"New York-Newark-Jersey City, NY-NJ-PA",Metropolitan Statistical Area,1,20140470,9811780,10328690,39.0,37.8,40.3

In [1217]:
PopOver_5mil = DF1_MetPop2020[DF1_MetPop2020['Population'] >= 5000000]
PopOver_5mil

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
51,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9
204,16980,"Chicago-Naperville-Elgin, IL-IN-WI",Metropolitan Statistical Area,1,9618502,4739937,4878565,38.1,37.1,39.1
258,19100,"Dallas-Fort Worth-Arlington, TX",Metropolitan Statistical Area,1,7637387,3779275,3858112,35.3,34.6,35.9
477,26420,"Houston-The Woodlands-Sugar Land, TX",Metropolitan Statistical Area,1,7122240,3548196,3574044,35.0,34.4,35.5
630,31080,"Los Angeles-Long Beach-Anaheim, CA",Metropolitan Statistical Area,1,13200998,6546539,6654459,37.6,36.7,38.6
675,33100,"Miami-Fort Lauderdale-Pompano Beach, FL",Metropolitan Statistical Area,1,6138333,3005123,3133210,41.6,40.3,42.9
747,35620,"New York-Newark-Jersey City, NY-NJ-PA",Metropolitan Statistical Area,1,20140470,9811780,10328690,39.0,37.8,40.3
807,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area,1,6245051,3040403,3204648,39.0,37.7,40.3
1095,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,6385162,3141717,3243445,37.6,36.8,38.3

In [1218]:
PopUnder_5Mil = DF1_MetPop2020[DF1_MetPop2020['Population'] <= 5000000]
PopUnder_5Mil

,CBSA,City_Metro,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female
126,14460,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,1,4941632,2418046,2523586,38.8,37.8,39.9
147,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3
210,17140,"Cincinnati, OH-KY-IN",Metropolitan Statistical Area,1,2256884,1114630,1142254,38.1,37.1,39.1
285,19740,"Denver-Aurora-Lakewood, CO",Metropolitan Statistical Area,1,2963821,1492321,1471500,36.9,36.4,37.5
291,19820,"Detroit-Warren-Dearborn, MI",Metropolitan Statistical Area,1,4392041,2153747,2238294,40.1,38.7,41.4
489,26900,"Indianapolis-Carmel-Anderson, IN",Metropolitan Statistical Area,1,2111040,1038774,1072266,36.7,35.8,37.6
540,28140,"Kansas City, MO-KS",Metropolitan Statistical Area,1,2192035,1082767,1109268,37.7,36.8,38.6
591,29820,"Las Vegas-Henderson-Paradise, NV",Metropolitan Statistical Area,1,2265461,1134726,1130735,37.8,37.3,38.3
633,31140,"Louisville/Jefferson County, KY-IN",Metropolitan Statistical Area,1,1285439,631705,653734,39.2,38.1,40.3
669,32820,"Memphis, TN-MS-AR",Metropolitan Statistical Area,1,1337779,641509,696270,36.6,35.2,37.9
687,33340,"Milwaukee-Waukesha, WI",Metropolitan Statistical Area,1,1574731,772689,802042,38.3,37.4,39.2
690,33460,"Minneapolis-St. Paul-Bloomington, MN-WI",Metropolitan Statistical Area,1,3690261,1841756,1848505,37.5,36.9,38.2
735,34980,"Nashville-Davidson--Murfreesboro--Franklin, TN",Metropolitan Statistical Area,1,1989519,975573,1013946,36.8,36.0,37.4
744,35380,"New Orleans-Metairie, LA",Metropolitan Statistical Area,1,1271845,616081,655764,39.0,38.1,39.9
780,36740,"Orlando-Kissimmee-Sanford, FL",Metropolitan Statistical Area,1,2673376,1314143,1359233,37.9,37.0,38.8
810,38060,"Phoenix-Mesa-Chandler, AZ",Metropolitan Statistical Area,1,4845832,2418925,2426907,37.3,36.4,38.3
828,38900,"Portland-Vancouver-Hillsboro, OR-WA",Metropolitan Statistical Area,1,2512859,1251332,1261527,38.7,38.0,39.3
927,41700,"San Antonio-New Braunfels, TX",Metropolitan Statistical Area,1,2558143,1272145,1285998,35.3,34.4,36.3
930,41740,"San Diego-Chula Vista-Carlsbad, CA",Metropolitan Statistical Area,1,3298634,1671043,1627591,36.5,35.5,37.7
933,41860,"San Francisco-Oakland-Berkeley, CA",Metropolitan Statistical Area,1,4749008,2365423,2383585,39.3,38.6,40.1
960,42660,"Seattle-Tacoma-Bellevue, WA",Metropolitan Statistical Area,1,4018762,2029293,1989469,37.2,36.5,37.9

In [1219]:
MetroPop_High_to_Low = DF1_MetPop2020[['City_Metro', 'Population']].sort_values(by='Population', ascending=False)
MetroPop_High_to_Low

                                          City_Metro  Population
747            New York-Newark-Jersey City, NY-NJ-PA    20140470
630               Los Angeles-Long Beach-Anaheim, CA    13200998
204               Chicago-Naperville-Elgin, IL-IN-WI     9618502
258                  Dallas-Fort Worth-Arlington, TX     7637387
477             Houston-The Woodlands-Sugar Land, TX     7122240
1095    Washington-Arlington-Alexandria, DC-VA-MD-WV     6385162
807      Philadelphia-Camden-Wilmington, PA-NJ-DE-MD     6245051
675          Miami-Fort Lauderdale-Pompano Beach, FL     6138333
51              Atlanta-Sandy Springs-Alpharetta, GA     6089815
126                   Boston-Cambridge-Newton, MA-NH     4941632
810                        Phoenix-Mesa-Chandler, AZ     4845832
933               San Francisco-Oakland-Berkeley, CA     4749008
291                      Detroit-Warren-Dearborn, MI     4392041
960                      Seattle-Tacoma-Bellevue, WA     4018762
690          Minneapolis-St. Paul-Bloomington, MN-WI     3690261
930               San Diego-Chula Vista-Carlsbad, CA     3298634
285                       Denver-Aurora-Lakewood, CO     2963821
780                    Orlando-Kissimmee-Sanford, FL     2673376
927                    San Antonio-New Braunfels, TX     2558143
828              Portland-Vancouver-Hillsboro, OR-WA     2512859
591                 Las Vegas-Henderson-Paradise, NV     2265461
210                             Cincinnati, OH-KY-IN     2256884
540                               Kansas City, MO-KS     2192035
489                 Indianapolis-Carmel-Anderson, IN     2111040
735   Nashville-Davidson--Murfreesboro--Franklin, TN     1989519
687                           Milwaukee-Waukesha, WI     1574731
669                                Memphis, TN-MS-AR     1337779
633               Louisville/Jefferson County, KY-IN     1285439
744                         New Orleans-Metairie, LA     1271845
147                          Buffalo-Cheektowaga, NY     1166902

In [1220]:
# Merge the two DataFrames.
Merged_Data = pd.merge(DF1_MetPop2020, DF2_Metro_Pop2000, on=['CBSA'], how='outer')
Merged_Data.head()

,CBSA,City_Metro_x,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female,City_Metro_y,Population_2010,Population_2000
0,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9,"Atlanta-Sandy Springs-Marietta, GA",5268860,4247981
1,14460,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,1,4941632,2418046,2523586,38.8,37.8,39.9,"Boston-Cambridge-Quincy, MA-NH",4552402,4391344
2,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3,"Buffalo-Niagara Falls, NY",1135509,1170111
3,16980,"Chicago-Naperville-Elgin, IL-IN-WI",Metropolitan Statistical Area,1,9618502,4739937,4878565,38.1,37.1,39.1,"Chicago-Joliet-Naperville, IL-IN-WI",9461105,9098316
4,17140,"Cincinnati, OH-KY-IN",Metropolitan Statistical Area,1,2256884,1114630,1142254,38.1,37.1,39.1,"Cincinnati-Middletown, OH-KY-IN",2130151,2009632

In [1221]:
# Visualizing and understanding merged data.
Merged_Data_Shape = Merged_Data.shape
print(Merged_Data_Shape)
Merged_Data_Dtypes = Merged_Data.dtypes
print(Merged_Data_Dtypes)

(30, 13)
CBSA                   int64
City_Metro_x          object
LSAD                  object
Date                   int64
Population             int64
Male_Population        int64
Female_Population      int64
Median_Age_Total     float64
Median_Age_Male      float64
Median_Age_Female    float64
City_Metro_y          object
Population_2010        int64
Population_2000        int64
dtype: object

In [1222]:
# Create a new column using the Merged_Data DataFrame. 
DifferenceInPop = Merged_Data['PopulationDiff'] = Merged_Data['Population'] - Merged_Data['Population_2000']
Merged_Data.head(7)

,CBSA,City_Metro_x,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female,City_Metro_y,Population_2010,Population_2000,PopulationDiff
0,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9,"Atlanta-Sandy Springs-Marietta, GA",5268860,4247981,1841834
1,14460,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,1,4941632,2418046,2523586,38.8,37.8,39.9,"Boston-Cambridge-Quincy, MA-NH",4552402,4391344,550288
2,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3,"Buffalo-Niagara Falls, NY",1135509,1170111,-3209
3,16980,"Chicago-Naperville-Elgin, IL-IN-WI",Metropolitan Statistical Area,1,9618502,4739937,4878565,38.1,37.1,39.1,"Chicago-Joliet-Naperville, IL-IN-WI",9461105,9098316,520186
4,17140,"Cincinnati, OH-KY-IN",Metropolitan Statistical Area,1,2256884,1114630,1142254,38.1,37.1,39.1,"Cincinnati-Middletown, OH-KY-IN",2130151,2009632,247252
5,19100,"Dallas-Fort Worth-Arlington, TX",Metropolitan Statistical Area,1,7637387,3779275,3858112,35.3,34.6,35.9,"Dallas-Fort Worth-Arlington, TX",6371773,5161544,2475843
6,19740,"Denver-Aurora-Lakewood, CO",Metropolitan Statistical Area,1,2963821,1492321,1471500,36.9,36.4,37.5,"Denver-Aurora-Broomfield, CO",2543482,2179240,784581

In [1223]:
MaxPop_Increase = DifferenceInPop.max()
print('\n Dallas has the highest population increase over two decades:\n', MaxPop_Increase, 'People')

 Dallas has the highest population increase over two decades:
 2475843 People

In [1224]:
MinPop_Decrease = DifferenceInPop.min()
print('\n Detroit has the largest decrease in population over two decades:\n', MinPop_Decrease, 'People')

 Detroit has the largest decrease in population over two decades:
 -60516 People

In [1225]:
MeanPop_Increase = DifferenceInPop.mean()
print('\n The average population increase over the two decades:\n', MeanPop_Increase, 'People')

 The average population increase over the two decades:
 811630.1 People

In [1226]:
Combined_Pop = DifferenceInPop.sum()
print('\n The population over two dacades has increased by:\n', Combined_Pop, 'People')

 The population over two dacades has increased by:
 24348903 People

In [1227]:
DecreasePop = Merged_Data[Merged_Data['PopulationDiff'] < 0]
DecreasePop

,CBSA,City_Metro_x,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female,City_Metro_y,Population_2010,Population_2000,PopulationDiff
2,15380,"Buffalo-Cheektowaga, NY",Metropolitan Statistical Area,1,1166902,569707,597195,40.8,39.4,42.3,"Buffalo-Niagara Falls, NY",1135509,1170111,-3209
7,19820,"Detroit-Warren-Dearborn, MI",Metropolitan Statistical Area,1,4392041,2153747,2238294,40.1,38.7,41.4,"Detroit-Warren-Livonia, MI",4296250,4452557,-60516
19,35380,"New Orleans-Metairie, LA",Metropolitan Statistical Area,1,1271845,616081,655764,39.0,38.1,39.9,"New Orleans-Metairie-Kenner, LA",1167764,1316510,-44665

In [1228]:
IncreasePop_1Mil = Merged_Data[Merged_Data['PopulationDiff'] > 1000000]
IncreasePop_1Mil

,CBSA,City_Metro_x,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female,City_Metro_y,Population_2010,Population_2000,PopulationDiff
0,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9,"Atlanta-Sandy Springs-Marietta, GA",5268860,4247981,1841834
5,19100,"Dallas-Fort Worth-Arlington, TX",Metropolitan Statistical Area,1,7637387,3779275,3858112,35.3,34.6,35.9,"Dallas-Fort Worth-Arlington, TX",6371773,5161544,2475843
8,26420,"Houston-The Woodlands-Sugar Land, TX",Metropolitan Statistical Area,1,7122240,3548196,3574044,35.0,34.4,35.5,"Houston-Sugar Land-Baytown, TX",5946800,4715407,2406833
15,33100,"Miami-Fort Lauderdale-Pompano Beach, FL",Metropolitan Statistical Area,1,6138333,3005123,3133210,41.6,40.3,42.9,"Miami-Fort Lauderdale-Pompano Beach, FL",5564635,5007564,1130769
20,35620,"New York-Newark-Jersey City, NY-NJ-PA",Metropolitan Statistical Area,1,20140470,9811780,10328690,39.0,37.8,40.3,"New York-Northern New Jersey-Long Island, NY-N...",18897109,18323002,1817468
21,36740,"Orlando-Kissimmee-Sanford, FL",Metropolitan Statistical Area,1,2673376,1314143,1359233,37.9,37.0,38.8,"Orlando-Kissimmee-Sanford, FL",2134411,1644561,1028815
23,38060,"Phoenix-Mesa-Chandler, AZ",Metropolitan Statistical Area,1,4845832,2418925,2426907,37.3,36.4,38.3,"Phoenix-Mesa-Glendale, AZ",4192887,3251876,1593956
29,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,6385162,3141717,3243445,37.6,36.8,38.3,"Washington-Arlington-Alexandria, DC-VA-MD-WV",5582170,4796183,1588979

In [1229]:
IncreasePop_Over1Mil = Merged_Data[Merged_Data['PopulationDiff'] > 1500000]
IncreasePop_Over1Mil

,CBSA,City_Metro_x,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female,City_Metro_y,Population_2010,Population_2000,PopulationDiff
0,12060,"Atlanta-Sandy Springs-Alpharetta, GA",Metropolitan Statistical Area,1,6089815,2957470,3132345,36.9,35.9,37.9,"Atlanta-Sandy Springs-Marietta, GA",5268860,4247981,1841834
5,19100,"Dallas-Fort Worth-Arlington, TX",Metropolitan Statistical Area,1,7637387,3779275,3858112,35.3,34.6,35.9,"Dallas-Fort Worth-Arlington, TX",6371773,5161544,2475843
8,26420,"Houston-The Woodlands-Sugar Land, TX",Metropolitan Statistical Area,1,7122240,3548196,3574044,35.0,34.4,35.5,"Houston-Sugar Land-Baytown, TX",5946800,4715407,2406833
20,35620,"New York-Newark-Jersey City, NY-NJ-PA",Metropolitan Statistical Area,1,20140470,9811780,10328690,39.0,37.8,40.3,"New York-Northern New Jersey-Long Island, NY-N...",18897109,18323002,1817468
23,38060,"Phoenix-Mesa-Chandler, AZ",Metropolitan Statistical Area,1,4845832,2418925,2426907,37.3,36.4,38.3,"Phoenix-Mesa-Glendale, AZ",4192887,3251876,1593956
29,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,6385162,3141717,3243445,37.6,36.8,38.3,"Washington-Arlington-Alexandria, DC-VA-MD-WV",5582170,4796183,1588979

In [1230]:
IncreasePop_2Mil = Merged_Data[Merged_Data['PopulationDiff'] > 2000000]
IncreasePop_2Mil

,CBSA,City_Metro_x,LSAD,Date,Population,Male_Population,Female_Population,Median_Age_Total,Median_Age_Male,Median_Age_Female,City_Metro_y,Population_2010,Population_2000,PopulationDiff
5,19100,"Dallas-Fort Worth-Arlington, TX",Metropolitan Statistical Area,1,7637387,3779275,3858112,35.3,34.6,35.9,"Dallas-Fort Worth-Arlington, TX",6371773,5161544,2475843
8,26420,"Houston-The Woodlands-Sugar Land, TX",Metropolitan Statistical Area,1,7122240,3548196,3574044,35.0,34.4,35.5,"Houston-Sugar Land-Baytown, TX",5946800,4715407,2406833

In [1231]:
px.histogram(Merged_Data, x='City_Metro_x', y='PopulationDiff', nbins= 7, title='Metro Population Change')

In [1232]:
#PercentChng = Merged_Data['PopulationDiff'].pct_change() 
#PercentChng

In [1233]:
# Use 'sort_values' function to show population increase or decrease over two decades.
Sort_PopDiff = Merged_Data[['City_Metro_x', 'PopulationDiff']].sort_values(by='PopulationDiff', ascending=False)
Sort_PopDiff

                                      City_Metro_x  PopulationDiff
5                  Dallas-Fort Worth-Arlington, TX         2475843
8             Houston-The Woodlands-Sugar Land, TX         2406833
0             Atlanta-Sandy Springs-Alpharetta, GA         1841834
20           New York-Newark-Jersey City, NY-NJ-PA         1817468
23                       Phoenix-Mesa-Chandler, AZ         1593956
29    Washington-Arlington-Alexandria, DC-VA-MD-WV         1588979
15         Miami-Fort Lauderdale-Pompano Beach, FL         1130769
21                   Orlando-Kissimmee-Sanford, FL         1028815
28                     Seattle-Tacoma-Bellevue, WA          974884
11                Las Vegas-Henderson-Paradise, NV          889696
25                   San Antonio-New Braunfels, TX          846440
12              Los Angeles-Long Beach-Anaheim, CA          835371
6                       Denver-Aurora-Lakewood, CO          784581
17         Minneapolis-St. Paul-Bloomington, MN-WI          721455
18  Nashville-Davidson--Murfreesboro--Franklin, TN          677730
27              San Francisco-Oakland-Berkeley, CA          625268
9                 Indianapolis-Carmel-Anderson, IN          585936
24             Portland-Vancouver-Hillsboro, OR-WA          584978
22     Philadelphia-Camden-Wilmington, PA-NJ-DE-MD          557904
1                   Boston-Cambridge-Newton, MA-NH          550288
3               Chicago-Naperville-Elgin, IL-IN-WI          520186
26              San Diego-Chula Vista-Carlsbad, CA          484801
10                              Kansas City, MO-KS          355997
4                             Cincinnati, OH-KY-IN          247252
14                               Memphis, TN-MS-AR          132575
13              Louisville/Jefferson County, KY-IN          123464
16                          Milwaukee-Waukesha, WI           73990
2                          Buffalo-Cheektowaga, NY           -3209
19                        New Orleans-Metairie, LA          -44665
7                      Detroit-Warren-Dearborn, MI          -60516